! Configuration File for keepalived

vrrp_script chk_nginx {
    script "/usr/bin/curl http://{{bind_address}}:{{spark_master_webui_port}}/json/ | grep status | egrep 'ALIVE|RECOVERING'"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    state MASTER
    interface {{bind_iface}}
    virtual_router_id 51
    priority 1
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    unicast_src_ip {{bind_address}}
    track_script {
        chk_nginx
    }
    virtual_ipaddress {
        {{spark_master_virtual_ip}} dev {{bind_iface}}
    }
}
